<?xml version="1.0" encoding="UTF-8" ?>

<Configuration shutdownHook="disable">

	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
		    <PatternLayout pattern="${layoutPattern}" />
		</Console>
		<RollingRandomAccessFile
			name="rolling_log"
			fileName="./logs/file.log"
			filePattern="./logs/pjt/pjt-%d{yyyy-MM-dd_HH}_%i.log"
			immediateFlush="false"
			append="true"
			ignoreExceptions="false">
			<PatternLayout pattern="${layoutPattern}" />
			<Policies>
				<!-- 30MB 용량이 초과시 DefaultRolloverStrategy 정책만큼 넘버링 -->
				<SizeBasedTriggeringPolicy size="30 MB" />
				<!-- 일별 로그 파일 생성-->
				<TimeBasedTriggeringPolicy interval="1" modulate="true" />
			</Policies>
			<!-- 롤링 파일 1000개 까지 생성 -->
			<DefaultRolloverStrategy max="1000" />
		</RollingRandomAccessFile>
		
		<Async name="async_log" includeLocation="true">
			<AppenderRef ref="rolling_log" />
		</Async>
	</Appenders>

	<Loggers>
		<Root level="ERROR">
			<AppenderRef ref="console"/>
		</Root>

		<Logger name="debug_log" level="DEBUG">
			<AppenderRef ref="debug_log_cfg" />
		</Logger>

<!-- 		<Logger name="org.springframework.web.servlet.DispatcherServlet" level="debug" additivity="false"> -->
<!-- 			<AppenderRef ref="Console" /> -->
<!-- 			<AppenderRef ref="debug_log_cfg" /> -->
<!-- 		</Logger> -->

		<!-- jdbc Loggers -->
<!-- 		<logger name="jdbc" level="ERROR"/> -->
		<Logger name="jdbc.sqltiming" level="DEBUG">
			<AppenderRef ref="debug_log_cfg" />
		</Logger>
		<Logger name="jdbc.resultset" level="ERROR">
			<AppenderRef ref="debug_log_cfg" />
		</Logger>
		<Logger name="jdbc.resultsettable" level="ERROR">
			<AppenderRef ref="debug_log_cfg" />
		</Logger>

	</Loggers>

</Configuration>